.header{
    background-color: white;
    color: black;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.content-p{
    margin-bottom: 30px;
}

.popup-btn{
    border-radius: 14px;
    padding: 10px 20px;
    font-size: 12px;
    border: none;
    color: white;
    background-color: #1e1e1e;
    cursor: pointer;
}